
.envelope{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 20px;
    height: 100vh;
}
.envelope-title{
    position: relative;
}
.envelope-title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 400;
    background: linear-gradient(267deg, #403b4a, #e7e9bb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.envelope-title img{
    width: 80px;
    position: absolute;
    bottom: 0;
    border: 1px solid white;
    right: 1;
    z-index: -1;
    border-radius: 50%;
}
/* .enveo-connect-section{
    display: flex;
    gap: 30px;
} */
.enveo-side{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 22px;
    border: 2px solid #e7e9bb;
    border-radius: 50px;
    padding: 40px 20px;
    align-items: center;
    margin-bottom: 40px;
}
.enveo-side label{
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(267deg, #e7e9bb, #403b4a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.enveo-side input{
    border: none;
    width: 700px;
    height: 60px;
    padding-left: 20px;
    border-radius: 50px;
    background: #32323c;
    color: #A0A0A0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}
.enveo-side textarea{
    border: none;
    width: 650px;
    /* height: 400px; */
    padding: 25px;
    border-radius: 50px;
    background: #32323c;
    color: #A0A0A0;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
.btns{
    display: flex;
    gap: 50px;
}
.connect-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(267deg, #e7e9bb, #403b4a);
    font-size: 22px;
    padding: 20px 60px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    max-width: 400px;

}
.connect-submit:hover{
    transform: scale(1.1);
}
.btns .back-home, .rules{
    padding: 20px 30px ;
    border: 2px solid white;
    background: transparent;
    color: white;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}
.btns .back-home:hover, .rules:hover{
    transition: 0.3s;
    border: 1px solid #403b4a;
}
@media(max-width: 768px){
    .envelope{
        margin: 0;
        gap: 20px;
        height: 100%;
    }
    .enveo-side{
        border: none;
        padding: 10px;
        margin: 0;
    }
    .envelope-title h1{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .enveo-side input{
        width: 300px;
        font-size: 18px; 
        padding-left: 0;
        text-align: center; 
    }
    .enveo-side textarea{
        width: 280px;
        font-size: 18px;
        text-align: center;
    }
    .enveo-side label{
        font-size: 20px;
        font-weight: 300;
        margin: -15px 0;
    }
    .btns .back-home, .rules{
        display: none;
    }
}